:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-image: url(./images/clipdealer_A56210124_preview.jpg);
}

.header-pic {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
}
.hit-button {
  height: 4rem;
  width: 7rem;
  border-radius: 10%;
  background-color: green;
  border-color: greenyellow;
  font-size: 2rem;
  margin-left: 4rem;
  margin-right: 1rem;
}

.stand-button {
  height: 4rem;
  width: 7rem;
  border-radius: 10%;
  background-color: red;
  border-color: greenyellow;
  font-size: 2rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.dealer-hit {
  height: 4rem;
  width: 7rem;
  border-radius: 10%;
  background-color: white;
  border-color: greenyellow;
  font-size: 2rem;
  margin-left: 4rem;
  margin-right: 1rem;
}
.reset-button {
  height: 4rem;
  width: 7rem;
  border-radius: 10%;
  background-color: gold;
  border-color: greenyellow;
  font-size: 2rem;
  margin-left: 0.5rem;
  margin-right: 2rem;
}

.player-hand {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding-left: 2rem;
}

.player-sum {
  color: red;
  font-size: 2rem;
  margin-left: 3rem;
}

h3 {
  margin: 0.5rem;
}
h4 {
  margin: 0.5rem;
}
.dealer-hand {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.dealer-sum {
  color: red;
  font-size: 2rem;
  margin-left: 3rem;
}
.is-dealer-winner {
  color: red;
  font-size: 2rem;
  margin-left: 3rem;
}
.did-you-win {
  color: red;
  font-size: 2rem;
  margin-left: 3rem;
}
.hide {
  display: none;
}
